header {
    display: grid;
    min-width: 360px;
    max-width: 100%;
    /*naturalmente si adatta se la pagina diventa */
    background-color: #D38B36
        /*colore testata*/
}

header a {
    /*tocca solamente i link dentro header*/
    color: white;
}

nav {
    display: flex;
    min-width: 400px;
    max-width: 100%;
    justify-content: center;
    gap: 15px;
    /*funge come il padding*/
    background-color: #C6A47C
        /*colore di tutta la navigation bar che sta dentro l'header*/
}

body {
    margin: 0;
    background-color: #E1D9C6
}

h2 {
    display: flex;
    justify-content: center;
    color: #996629;
}

h3 {
    font-size: 30px;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

header li a:hover {
    background-color: #9967295b
}

/*anteprima cursore sfondo SOLO DEI LINK IN LISTA*/
header li a:hover {
    color: #996629
}

/*anteprima cursore testo SOLO DEI LINK IN LISTA*/
a:active {
    color: burlywood
}

/*si nota se si preme il tasto TAB*/

li {
    list-style-type: none;
    font-size: 30px;
    /*rimuove i punti dalla lista*/
}

/*influisce su TUTTI i link*/

a {
    text-decoration: none;
    /*toglie l'underline a TUTTI i link*/
    color: chocolate
}

img {
    /*influisce sulle IMMAGINI CON LA CLASSE images*/
    max-width: 50%;
}

.autori123,
.autori456 {
    display: flex;
    padding: 2%;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    /*CI VUOLE ALLINEA I TESTI AL CENTRO*/
    flex-direction: column;
    align-content: center;
}

footer {
    display: grid;
    min-width: 600px;
    max-width: 100%;
    margin-top: 3%;
    background-color: #434343;
}

footer p {
    color: white;
    margin-left: 2%;
}

.footerlink {
    text-align: right;
    margin-right: 10%;
}

main {
    margin: auto;
    width: 90%;
}

.right {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 40px;
}

.left p {
    padding-right: 3%;
}

.right p {
    padding-left: 3%;
}

.imma1,
.imma2 {
    max-width: 35%;
}

.paragrafoabout {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
}

.pic1 {
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    gap: 8%;
    margin-top: 10%;
    max-width: 60%;
}

.pic2 {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8%;
    margin-top: 10%;
    max-width: 60%;
}

.boca {
    display: flex;
    margin: 6%;
    gap: 6%;
    margin-top: 10%;
    max-width: 40%;
}

.errera {
    display: flex;
    margin: 10%;
    gap: 2%;
    margin-top: 10%;
    max-width: 30%;
}

.socials {
    display: flex;
    margin: 6%;
    gap: 8%;
    margin-top: 10%;
    max-width: 60%;
}

.minis {
    display: flex;
    margin: auto;
    margin-top: 10%;
    gap: 30%;
    max-width: 10%;
}

/*@media (min-width: 600px) {
    .header{
    max-width: 100%;
    }
    
    .header li {
        float:left
    }
}*/